# Drupal

DRUPAL_DB='drupal'
DRUPAL_DB_USER='drupal'
DRUPAL_DB_PASSWORD='drupal'
DRUPAL_USER='admin'
DRUPAL_PASSWORD='admin'

# Prestashop

PRESTASHOP_DB='prestashop'
PRESTASHOP_DB_USER='prestashop'
PRESTASHOP_DB_PASSWORD='prestashop'
ADMIN_MAIL='demo@prestashop.com'
ADMIN_PASSWD='prestashop_demo'

# Apisix
APISIX_IMAGE_TAG='3.11.0-redhat'